#!/bin/bash

# Create a new directory and enter it
mkd() {
	mkdir -p "$@" && cd "$@"
}

# Run `dig` and display the most useful info
digga() {
	dig +nocmd "$1" any +multiline +noall +answer
}

weather() {
	curl -s wttr.in/$1 | head -n7
}

n() {
        $EDITOR ~/Documents/notes/"$*".txt
}

nls() {
        ls -c ~/Documents/notes/ | grep "$*"
}
