[init]
	defaultBranch = main

[apply]
	whitespace = fix

[core]
	editor = vim
	pager = less -FRSX
	fsmonitor = true
	untrackedcache = true

[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = true

[color "status"]
	added = green
	changed = yellow
	untracked = red

[push]
	default = current
	autoSetupRemote = true

[user]
	name = Mijndert Stuij
	email = mijndert@mijndertstuij.nl
	#signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILnWvTU0JWTIwbKCSUUjRpYjFnhDDfdLLAlEe2xxlhdD mijndert@mijndertstuij.nl

# [commit]
# 	gpgsign = true

# [gpg]
# 	format = ssh

[alias]
	p = pull
	c = clone --recursive
	pu = push
	ca = !git add -A && git commit -av
	co = checkout
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
	s = status -s
	tags = tag -l
	branches = branch -a
	remotes = remote -v
    l = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
    clean = fetch --prune origin