"*":
  core:
    audioBeep: false
    disabledPackages: [
      "git-status"
    ]
    themes: [
      "atom-solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "dc9a0782-028d-a8a7-2275-faacc762bd12"
  pigments: {}
  welcome:
    showOnStartup: false
